img{
  max-width: none;
  max-height: none;
}

.company-header-wrap{
  background-color: #183053;
  height: 175px;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
  margin-bottom: 300px;
  .banner{
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-top: -58px;
    filter: blur(4px);
  }
  .header{
    background-color:  #3E6399;
    width: 500px;
    height: auto;
    position: absolute;
    margin: -150px auto 50px auto;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086);

    .company-logo{

      max-width: 250px;
      max-height: 125px;
      margin-top: 20px;




    }
    .company-name{

      margin-top: 20px;
      font-size: 3.5rem;
      font-weight: 700;
      text-shadow: 1px 1px 1px #000,
      3px 3px 5px #215e7c;
    }
    .company-date{
      font-size: 1.5rem;
    }
  }

}
.company-content-wrapper{
 margin-top: 50px;

  .summary{
    font-size: 1.7rem;
    background-color: #183053;
    width: 1500px;
    padding: 30px 20px 20px 20px;
    text-align: left;
    border-radius: 4px;
    margin: -50px auto 0 auto;
  }
  .games{

    width: 1750px;
    margin: 20px auto;

    .title{
      margin: 0 auto;
      display: block;
      font-size: 3rem;
    }
    .background-static{
      position: absolute;
      border-radius: 4px;
      width: 1600px;
      height: 200px;
      margin-left: 150px;
      margin-top: 31px;
      background-color: #1e3d6a;
      z-index: -1;
    }
    .background-image{
      position: absolute;
      width: 1600px;
      height: 200px;
      margin-left: 150px;
      margin-top: 31px;
      transition: opacity .3s ease-in-out;
      border-radius: 4px;
      opacity: 0;
      z-index: 1;


    }
    .game-container{
      position: relative;
      text-align: left;
      border-radius: 10px;
      margin-top: 30px;
      display: grid;
      grid-template-columns: 150px auto;
      transition: .5s;
      z-index: 20;
      .cover{
        border-radius: 10px 0 0 10px;
        width: 150px;
        height: 200px;
      }
      .game-info{
        .game-title{
          text-align: center;
          font-size: 2.9rem;
          text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
          0px 8px 13px rgba(0,0,0,0.1),
          0px 18px 23px rgba(0,0,0,0.1);
          margin-top: 10px;
          margin-left: -150px;
        }
        .data-set{
          text-align: center;
          padding-right: 150px;
          font-size: 1.5rem;
        }
        .game-summary{
          font-size: 1.5rem;
          margin: 20px 80px 0 80px;
          background-color: #1e3d6a;
          padding: 10px 20px;
          border-radius: 4px;

        }
      }
    }
  }
}

