
//Base page CSS
*{
  box-sizing: border-box;
  text-decoration: none;
}
div{
  display: block;
}

.page-content{
  display: block;
  min-height: 100vh;

}


//Body/Results CSS
.wrap{
  margin-top: 50px;
}
.preview{

  min-height: 100vh;
}
.content-container{
  margin: 0 auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

}
@media(min-width: 1540px) {
  .content-container {
    max-width: 1520px;
    padding-left: 125px;
    padding-right: 125px;
  }
}


.landing-section{
  margin-bottom: 30px;
}

.title{
  color: rgb(var(--color-gray-800));
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .03em;
  text-transform: uppercase;
  margin-bottom: 20px;

}
.link{
  align-items: flex-end;
  display: flex;
  .expand{
    color: rgb(var(--color-gray-600));
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: auto;
    text-transform: none;
    transition: color .2s ease;
  }
  }



.results{
  display: grid;
  grid-gap: 28px 30px;
  grid-template-columns: repeat(auto-fill,12%);
  :hover{
    transform: scale(1.15);
    transition: .5s;
  }
  .media-card{
    display: grid;
    grid-template-rows: min-content auto;
    position: relative;
    width: 100%;

    .cover {
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      height: 200px;
      overflow: hidden;
      position: relative;
      width: 100%;

      .image-loaded {
        border-radius: 8px;
        height: 100%;
        box-shadow: 0 8px 6px -6px black;
        width: 100%;
        :hover{
          -webkit-filter: blur(2px);
          filter: blur(2px);
        }
      }

      .more-details {
        line-height: 1.6;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        height: 172px;
        transition: 0.3s linear all;
        overflow: hidden;
        position: absolute;
        top: -1;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 28px;
        color: white;
        background: rgba(0,0,0,0.5);
        text-shadow: 1px 1px 1px black;
        text-decoration: none;
        h2 {
          font-family: 'Droid Serif', serif;
        }

        p {
          font-family: 'Julius Sans One', sans-serif;
        }
        &:hover {
            opacity: 1;
          img
          h2{
            transform: scale(1)
          }

        }
      }


    }
    .title{
      color: rgb(var(--color-gray-700));
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 21px;
      margin-top: 10px;
      overflow: hidden;
      transition: color .2s ease;
      display: -webkit-box;
      -webkit-box-orient: vertical;


    }
  }
}

img{
  max-height: 185px;
  max-width: 185px;
}