.nav-container{
  background: rgba(35,38,67,.5);
  transition: .5s;
  box-shadow: none;
  top: 0;
  position: fixed;
  &:hover{

    background-color: #215e7c;
    box-shadow: 1px 1px 3px black;
  }
}

.game-page-content{
  animation: fadein 1.2s;
  h1, h2{
    color: #a5b1c2;
    margin: 0;
    padding: 0;
  }
  display:block;
  .header-wrap{
    position:relative;
    .banner{
      background-position: 50% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      margin-top: -58px;
      filter: blur(4px)

    }
    .header{
      position: relative;
      background: #183053;
      .container{
        display: grid;
        grid-column-gap: 30px;
        grid-template-columns: 215px auto auto;
        max-width: 1520px;
        padding-left: 100px;
        padding-right: 100px;
        margin: 0 auto;
        min-height: 250px;
        min-width: 320px;
        .cover-wrap{
          margin-top: -125px;
          position: relative;
          .cover-wrap-inner{
            position: static;
            height: 100%;
            .cover{
              background-color: #1e3d6a;
              border-radius: 2px;
              box-shadow: 0 0 29px rgba(49,54,68,.25);
              margin-top: 15px;
              max-height: 300px;
              max-width: 300px;
              width: 100%;
            }
            .actions{
              display: grid;
              grid-template-columns: auto 35px;
              margin-top: 10px;
              grid-gap: 15px;
              .list{
                align-items: center;
                background: deepskyblue;
                border-radius: 3px;
                cursor: pointer;
                display: flex;
                font-size: 1.4rem;
                height: 35px;
                justify-content: center;
                line-height: 1.3rem;
                .add{
                  align-items: center;
                  display: flex;
                  height: 100%;
                  justify-content: center;
                  margin-left: auto;
                  margin-right: auto;


                }
                .dropdown{
                  background: lightskyblue;
                  border-radius: 0 3px 3px 0;
                  width: 34px;
                  height: 100%;
                  align-items: center;
                  display: flex;
                  justify-content: center;
                  padding: 0 10px;
                  .dropdown-link{

                  }
                }
              }
              .favorite{
                align-items: center;
                background: hotpink;
                border-radius: 3px;
                cursor: pointer;
                display: flex;

                height: 35px;
                justify-content: center;

                transition: .2s;
                padding: 0 10px;
              }
            }
          }
        }
        .content{
          display: inline-grid;
          grid-template-rows: min-content min-content auto;
          padding-top: 10px;
          text-align: left;
          h1{
            font-size: 1.9rem;
            font-weight: 400;
            display: block;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;


          }
          .summary{
            color: #e8ebef;
            font-size: 1.4rem;
            line-height: 1.5;
            margin: 0;
            max-width: 900px;
            padding: 15px 0;

          }


        }
      }
    }

  }
  .content-container{
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 208px auto;
    margin-top: 20px;
    position: relative;
    max-width: 1520px;
    padding-left: 100px;
    padding-right: 100px;
    .sidebar{
      .type{
        font-size: 1.3rem;
        font-weight: 700;
        padding-bottom: 5px;
      }
      .data{
        background: #183053;
        border-radius: 3px;
        padding: 18px;
        text-align: left;

        .data-set{
          padding-bottom: 14px;
          display: grid;


          .value{
            color: rgb(var(--color-text-lighter));
            font-size: 1.2rem;
            line-height: 1.3;
            white-space: pre-wrap;
          }
        }
      }
      .media-websites{
        margin-top: 3px;
        padding-top: 4px;

        display: grid;
        grid-column-gap: 25px;
        grid-template-columns: 40px 40px 40px;

      }
      .shop-websites{
        margin-top: 3px;
        padding-top: 4px;


        display: grid;
        grid-column-gap: 25px;
        grid-template-columns: 40px 40px 40px;

      }
      .website-logo{
        width: 40px;
        height: 40px;
      }
    }
    .overview{
      max-width: 1040px;
      margin-top: -10px;
      margin-left: 30px;
      img{
        border-radius: 5px;
      }

      .carousel-container{
      .carousel-gallery{
        padding-left: 20px;
      }
        .slick-arrow{

            transition: .3s;
          &:hover{
            opacity: 1;

          }

        }
        .slick-prev{
          left: -40px;
        }
        img{
          max-height: 189px;
          max-width: 320px;
          width: 480px;
          height: 270px;
        }
        max-width: 100%;
        max-height: 100%;

      }
      .storyline-container{
        .body-text{
          font-size: 2rem;
          text-align: left;
          background: #183053;
          border-radius: 3px;
          padding: 20px;
        }
      }
      .articles-container{
        display: block;
        .signifyer-holder{
          text-align: right;
          .cat-title{
            margin: 10px 0 0 0;
          }
          .view{
            display: block;

            text-align: right;
            font-size: 1.4rem;
            font-weight: 600;
          }
        }
        .article-container{
          img{
            max-width: 100px;
            border-radius: 5px 0px 0px 5px;
          }
          font-size: 1.3rem;
          margin-top: 10px;
          display: grid;
          border-radius: 4px;
          grid-column-gap: 30px;
          grid-template-columns: auto auto auto;
          background-color: #183053;


          .art-info{
            margin: auto 0;
            .art-title{
              font-weight: 700;
            }
          }
          .pub-info{
            text-align: right;
            margin-top: 25px;
            padding-right: 10px;
          }
        }
      }
      .rec-container{
        margin-top: 30px;
        width: 1510px;
        max-width: 100%;
        max-height: 100%;
        .rec-gallery{
          padding-left: 0px;
        }
        .slick-arrow{

          transition: .5s;
          &:hover{
            opacity: 1;
          }

        }
        .slick-prev{
          left: -40px;
        }
        img{
          max-height: none;
          max-width: none;
          width: 189px;
          height: 270px;

        }
        .rec-cover{
          border-radius: 2px;
          overflow: hidden;
          position: relative;
          height: 100%;
          width: 100%;
          &:hover{

            transition: .3s;
            color: #4691f6;
            img{
              -webkit-filter: blur(2px);
              filter: blur(2px);
            }

          }
          .rec-more-details{
            line-height: 1.6;
            opacity: 0;
            height: 270px;
            width: 189px;
            transition: 0.3s;
            overflow: hidden;
            position: fixed;
            display: block;
            top: 0;
            font-size: 1.4rem;
            padding: 10px;
            border: #4691f6 solid;
            border-radius: 3px;
            background: rgba(0,0,0,0.5);
            text-shadow: 0 1px 1px black;
            text-align: center;
            &:hover{
              opacity: 1;

            }

            .rec-clearing{
              position:relative;
              height: 189px;

              .summary{

              }
            }
          }
        }
        .rec-title{
          font-size: 1.5rem;
          font-weight: 600;
          width: 180px;
          margin-left: 3px;
          margin-top: 5px;
          text-align: center;
          transition: .3s;
          a:hover{
            color: #4691f6;
          }
        }

      }


      .cat-title{
        margin: 10px 0 20px 0;
        text-align: left;
        font-size: 2.6rem;
        font-weight: 600;
      }
    }


  }
}


@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}