.browse-page-content{
  margin: 0 auto;
  width: 1700px;
  min-height: 100vh;
  .page-heading{
    font-size: 8rem;
    text-align: left;
    margin-bottom: 10px;
    margin-left: -4px;
  }
}

.section-wrapper{
  margin-bottom: 40px;
  .section-header{
    margin-bottom: 24px;
    text-align: left;
    .section-heading{
      display: inline;
      margin-right: 8px;
      font-weight: 700;
      -webkit-transition: all .3s;
      transition: all .3s;
      font-size: 24px;
      line-height: 28px;
      background-image: linear-gradient(0deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 1px,hsla(0,0%,100%,0) 0);

    }
  }
}
.section-cards{
  display: flex;
}
.card-wrapper{
  width: 304px;
  margin-right: 11px;
}
.card-template{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 32px 24px;
  min-height: 250px;

  border-radius: 6px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
  background-color: darkred;


  .card-header{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 24px;

    .card-heading{
     margin: 16px 0 16px 0;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 2.9rem;
      .cat-link{
        background-image: linear-gradient(0deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 1px,hsla(0,0%,100%,0) 0);
        color: #fff;
        transition: .2s;
        &:hover{
          color: grey;
          cursor: pointer;
        }
      }
    }
  }
  .card-info{
    width: 100%;

    .item-heading{
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      text-align: left;
    }
    .item-list{
      width: 100%;
      padding: 8px 0 0;
      list-style: none;
      border-top: 1px solid hsla(0,0%,100%,.1);

      .item{
        font-size: 1.4rem;
        line-height: normal;
        font-weight: 400;
        width: 100%;
        margin-bottom: 6px;
        display: flex;
        .game{
          background-image: linear-gradient(0deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 1px,hsla(0,0%,100%,0) 0);
          max-width: 80%;
          white-space: nowrap;
          text-align: left;
          overflow: hidden;

        }
        .item-rating{
          flex: 1;
          white-space: nowrap;
          text-align: right;

        }
      }
      .item:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}